*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
org.openntf.xdpe.parent/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.projectwizard/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.pw-tests/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.pw-tests/.classpath
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.pw-tests/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.projectwizard/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.projectwizard/.classpath
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher/.classpath
org.openntf.xdpe.parent/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.projectwizard/target/MANIFEST.MF
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.projectwizard/target/
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher/target/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.pw-tests/target/
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher.feature/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher.feature/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher.feature/target/
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher.p2/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher.p2/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher.p2/target/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.feature/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.feature/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.p2/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.p2/.settings/
