*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
org.openntf.xdpe.parent/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.projectwizard/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.pw-tests/.settings/
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.pw-tests/.classpath
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.pw-tests/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.projectwizard/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xpdesigner.ui.projectwizard/.classpath
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher/.project
org.openntf.xdpe.parent/org.openntf.eclipse.xdpe.publisher/.classpath
org.openntf.xdpe.parent/.project
