<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.openntf.eclipse.xpdesigner.ui.projectwizard.cat"
            name="XPages">
      </category>
      <wizard
            category="org.openntf.eclipse.xpdesigner.ui.projectwizard.cat"
            class="org.openntf.eclipse.xpdesigner.ui.projectwizard.wizard.NewXPProject"
            descriptionImage="icons/wizban/xsp_project_wiz.gif"
            finalPerspective="org.openntf.eclipse.xpdesigner.ui.projectwizard.perspective"
            icon="icons/view16/xsp_icon_view.gif"
            id="org.openntf.eclipse.xpdesigner.ui.projectwizard.newxproject"
            name="XPages Project"
            project="true">
      </wizard>
      <wizard
            category="org.openntf.eclipse.xpdesigner.ui.projectwizard.cat"
            class="org.openntf.eclipse.xpdesigner.ui.projectwizard.wizard.NewXPage"
            descriptionImage="icons/wizban/xsp_page_wiz.gif"
            finalPerspective="org.openntf.eclipse.xpdesigner.ui.projectwizard.perspective"
            id="org.openntf.eclipse.xpdesigner.ui.projectwizard.newXPages"
            name="XPage"
            project="false">
      </wizard>
      <wizard
            category="org.openntf.eclipse.xpdesigner.ui.projectwizard.cat"
            class="org.openntf.eclipse.xpdesigner.ui.projectwizard.wizard.NewCustomControl"
            descriptionImage="icons/wizban/xsp_page_wiz.gif"
            finalPerspective="org.openntf.eclipse.xpdesigner.ui.projectwizard.perspective"
            id="org.openntf.eclipse.xpdesigner.ui.projectwizard.newcustomcontrol"
            name="Custom Control"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/view16/xsp_icon_view.gif"
            id="org.openntf.xpdesigner.ui.navigator"
            name="XPages Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.openntf.xpdesigner.ui.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.openntf.xpdesigner.ui.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.openntf.eclipse.xpdesigner.ui.projectwizard.PerspectiveFactory"
            icon="icons/view16/xsp_icon_view.gif"
            id="org.openntf.eclipse.xpdesigner.ui.projectwizard.perspective"
            name="XPages Perspective">
      </perspective>
   </extension>
   <extension
         id="org.openntf.eclipse.xpdesigner.project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.openntf.eclipse.xpdesigner.ui.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xsp"
            id="org.openntf.eclipse.xpdesigner.contenttype.xsp"
            name="XSP File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.openntf.eclipse.xpdesigner.ui.editor.XSPEditor"
            default="false"
            id="org.openntf.eclipse.xpdesigner.ui.projectwizard.xspeditor"
            name="XSP Editor">
         <contentTypeBinding
               contentTypeId="org.openntf.eclipse.xpdesigner.contenttype.xsp">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
            targetID="org.openntf.eclipse.xpdesigner.ui.projectwizard.perspective">
         <actionSet
               id="org.eclipse.debug.ui.breakpointActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.jdt.ui.JavaElementCreationActionSet">
         </actionSet>
         <actionSet
                id="org.eclipse.debug.ui.launchActionSet">
          </actionSet>
          <actionSet
                id="org.eclipse.jdt.ui.JavaActionSet">
          </actionSet>
          <showInPart
                id="org.eclipse.jdt.ui.PackageExplorer">
          </showInPart>
          <showInPart
                id="org.eclipse.ui.navigator.ProjectExplorer">
          </showInPart>
         <showInPart
               id="org.eclipse.team.ui.GenericHistoryView">
         </showInPart>
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
          <perspectiveShortcut
                id="org.eclipse.jdt.ui.JavaPerspective">
          </perspectiveShortcut>
          <perspectiveShortcut
                id="org.eclipse.debug.ui.DebugPerspective">
          </perspectiveShortcut>
          <viewShortcut
                id="org.eclipse.ui.console.ConsoleView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.ui.PluginsView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.views.ProblemView">
          </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.views.ContentOutline">
          </viewShortcut>
          <newWizardShortcut
                id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.wst.jsdt.ui.NewJSWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.ui.wizards.new.file">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.eclipse.ui.wizards.new.folder">
          </newWizardShortcut>
          <viewShortcut
                id="org.eclipse.pde.ui.ImageBrowserView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.ui.DependenciesView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.runtime.RegistryBrowser">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.jdt.ui.PackageExplorer">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.runtime.LogView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.ui.TargetPlatformState">
          </viewShortcut>
      </perspectiveExtension>
    </extension>
   <extension
         id="org.openntf.eclipse.xpdesigner.core.XSPBuilder"
         name="XSP Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.openntf.eclipse.xpdesigner.core.XSPBuilder">
         </run>
      </builder>
   </extension>

</plugin>
